<launch>
  <node name="static_tf0" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /base_link 10"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find vip_marsupial_sim)/worlds/simulation.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="map_server" name="map_server" type="map_server" args="$(find vip_marsupial_sim)/maps/map.yaml" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x 0.0 -y 0.0 -z 0.0 -param robot_description" />
  
  <node name="mother_costmap" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find vip_marsupial_sim)/params/costmap_params_mother.yaml" command="load" ns="costmap" />
  </node>

  <node name="baby_costmap" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find vip_marsupial_sim)/params/costmap_params_baby.yaml" command="load" ns="costmap" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find vip_marsupial_sim)/rviz/simulation.rviz" />
</launch>
