<launch>
  <arg name="map_file" default="$(find vip_marsupial_sim)/maps/map.yaml" />

  <param name="/use_sim_time" value="true"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find vip_marsupial_sim)/worlds/simulation.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

  <!-- BEGIN ROBOT 1-->
  <group ns="mother">
    <param name="tf_prefix" value="mother_tf" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro" />

    <include file="$(find vip_marsupial_sim)/launch/robot.launch">
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name"  value="mother" />
    </include>
  </group>

  <node name="mother_inflation" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find vip_marsupial_sim)/params/rrt_costmap_params_mother.yaml" command="load" ns="costmap" />
  </node>

  <include file="$(find vip_marsupial_sim)/launch/navigation.launch">
    <arg name="robot_name" value="mother" />
    <arg name="model" value="waffle" />
  </include>

  <!-- BEGIN ROBOT 2-->
  <group ns="baby">
    <param name="tf_prefix" value="baby_tf" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find vip_marsupial_sim)/urdf/turtlebot3_burger_floating.urdf.xacro" />

    <include file="$(find vip_marsupial_sim)/launch/robot.launch" >
      <arg name="init_pose" value="-x 0.25 -y 0 -z 0.15" />
      <arg name="robot_name"  value="baby" />
    </include>
  </group>

  <node name="baby_inflation" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find vip_marsupial_sim)/params/rrt_costmap_params_baby.yaml" command="load" ns="costmap" />
  </node>

  <include file="$(find vip_marsupial_sim)/launch/navigation.launch">
    <arg name="robot_name" value="baby" />
    <arg name="model" value="burger" />
    <arg name="initial_pose_x" default="0.25"/>
    <arg name="initial_pose_y" default="0.0"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find vip_marsupial_sim)/rviz/simulation.rviz" />
</launch>